body {
  margin: 0;
}

header {
  background-color: aquamarine;
  height: 20vh;
  display: flex;
}

main {
  height: 70vh;
  display: flex;
}

aside {
  background-color: purple;
  flex: 1;
}

content {
  background-color: seashell;
  flex: 3;
}

footer {
  background-color: tomato;
  height: 10vh;
}

#logo {
  background-color: skyblue;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  width: 128px;
  height: 128px;
}

#logo .title {
  padding-left: 10px;
}

.menu {
  background-color: wheat;
  flex: 3;
}
